/* epika-prototype.scss */

:root {
  --clr-neon-off: hsl(323 21% 5%);				/* Magenta & dérivés */
  --clr-neon-low: hsl(317 100% 10%);
  --clr-neon-bright: hsl(317 100% 54%);
  --clr-neon-bright-tube: hsl(317 100% 54%);
  --clr-bg: #070709;			/* Violet profond */

}

*, *::before, *::after {
	box-sizing: border-box;
}

body {
	margin: 0;
}
		///************************************///
   ///*********                  *********///
  ///** Page d'acceuil (Néons partout) **///
 ///*********                  *********///
///************************************///

#page-neon-acceuil {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100vw;
	height: 100vh;
	background-color: var(--clr-bg);

	position: relative;
	overflow: hidden;

	#bienvenue {
		padding: .5rem 3rem;

		border: 1rem solid var(--clr-neon-off);
		color: var(--clr-neon-off);
		border-radius: 25px;

		opacity: .6;

		animation-fill-mode: forwards;
		animation-delay: 4.5s;
		animation-duration: 8s;
		animation-timing-function: cubic-bezier(0,.35,.75,0);
		animation-name: bienvenueOn;
	}

	.neon-acceuil {
		position: absolute;

		border: .8rem solid;
		border-radius: 25px;
		border-color: var(--clr-neon-off);

		opacity: .6;

		animation-fill-mode: forwards;
		animation-duration: 8s;
		animation-timing-function: cubic-bezier(0,.35,.75,0);
		animation-name: bienvenueOn;
	}

	.neon-acceuil-1 {
		width: 30%;
		height: 17%;

		top: -12%;
		left: -10%;

		animation-delay: 2.5s;
	}
	.neon-acceuil-2 {
		width: 8%;
		height: 35%;

		top: -12%;
		left: 27%;

		animation-delay: 3s;
	}
	.neon-acceuil-3 {
		width: 32%;
		height: 25%;

		top: -13%;
		left: 31%;

		animation-delay: 1s;
	}
	.neon-acceuil-4 {
		width: 40%;
		height: 40%;

		top: -13%;
		right: -12%;

		animation-delay: 4s;
	}
	.neon-acceuil-5 {
		width: 30%;
		height: 25%;

		top: -10%;
		right: -10%;

		animation-delay: 1.5s;
	}
	.neon-acceuil-6 {
		width: 13%;
		height: 70%;

		bottom: -10%;
		right: -10%;

		animation-delay: 3.2s;
	}
	.neon-acceuil-7 {
		width: 5%;
		height: 40%;

		bottom: -10%;
		right: 9%;

		animation-delay: 3.6s;
	}
	.neon-acceuil-8 {
		width: 58%;
		height: 15%;

		bottom: -10%;
		right: 21%;

		animation-delay: 1.7s;
	}
	.neon-acceuil-9 {
		width: 25%;
		height: 80%;

		bottom: -10%;
		left: -10%;

		animation-delay: 4.3s;
	}
	.neon-acceuil-10 {
		width: 18%;
		height: 67%;

		bottom: -10%;
		left: -10%;

		animation-delay: 2.4s;
	}
}

  /*********************************/
 /* Keyframes des Néons d'acceuil */
/*********************************/

/* Néon central */

@keyframes bienvenueOn {
	0% {
		/*eteint*/
		color: var(--clr-neon-off);
		text-shadow: 0 0 var(--clr-neon-off);
		border-color: var(--clr-neon-off);
		box-shadow:
    		inset 0 0 0 0 var(--clr-neon-off),
    		0 0 0 0 var(--clr-neon-off);
    	opacity: .4;
	}
	19% {
		/*allumé*/
		color: var(--clr-neon-bright);
		text-shadow: 0 0 1.5em var(--clr-neon-bright);
		border-color: var(--clr-neon-bright-tube);
		box-shadow:
			inset 0 0 2em .3em var(--clr-neon-bright),
			0 0 2em .3em var(--clr-neon-bright);
		opacity: .6;
	}
	20%, 24% {
		color: var(--clr-neon-off);
		text-shadow: 0 0 var(--clr-neon-off);
		border-color: var(--clr-neon-off);
		box-shadow:
    		inset 0 0 0 0 var(--clr-neon-off),
    		0 0 0 0 var(--clr-neon-off);
    	opacity: .4;
	}
	25% {
		/*allumé*/
		color: var(--clr-neon-bright);
		text-shadow: 0 0 1.5em var(--clr-neon-bright);
		border-color: var(--clr-neon-bright-tube);
		box-shadow:
			inset 0 0 2em .3em var(--clr-neon-bright),
			0 0 2em .3em var(--clr-neon-bright);
		opacity: 1;
	}
	26%, 27% {
		/*eteint*/
		color: var(--clr-neon-off);
		text-shadow: 0 0 var(--clr-neon-off);
		border-color: var(--clr-neon-off);
		box-shadow:
    		inset 0 0 0 0 var(--clr-neon-off),
    		0 0 0 0 var(--clr-neon-off);
    	opacity: .4;
	}
	28% {
		/*allumé*/
		color: var(--clr-neon-bright);
		text-shadow: 0 0 1.5em var(--clr-neon-bright);
		border-color: var(--clr-neon-bright-tube);
		box-shadow:
			inset 0 0 2em .3em var(--clr-neon-bright),
			0 0 2em .3em var(--clr-neon-bright);
		opacity: .6;
	}
	29%, 38% {
		/*eteint*/
		color: var(--clr-neon-off);
		text-shadow: 0 0 var(--clr-neon-off);
		border-color: var(--clr-neon-off);
		box-shadow:
    		inset 0 0 0 0 var(--clr-neon-off),
    		0 0 0 0 var(--clr-neon-off);
    	opacity: .4;
	}
	39% {
		/*allumé*/
		color: var(--clr-neon-bright);
		text-shadow: 0 0 1.5em var(--clr-neon-bright);
		border-color: var(--clr-neon-bright-tube);
		box-shadow:
			inset 0 0 2em .3em var(--clr-neon-bright),
			0 0 2em .3em var(--clr-neon-bright);
		opacity: .7;
	}
	40%, 41%{
		/*eteint*/
		color: var(--clr-neon-off);
		text-shadow: 0 0 var(--clr-neon-off);
		border-color: var(--clr-neon-off);
		box-shadow:
    		inset 0 0 0 0 var(--clr-neon-off),
    		0 0 0 0 var(--clr-neon-off);
    	opacity: .4;
	}
	42% {
		/*allumé*/
		color: var(--clr-neon-bright);
		text-shadow: 0 0 1.5em var(--clr-neon-bright);
		border-color: var(--clr-neon-bright-tube);
		box-shadow:
			inset 0 0 2em .3em var(--clr-neon-bright),
			0 0 2em .3em var(--clr-neon-bright);
		opacity: .5;
	}
	43%, 44% {
		/*eteint*/
		color: var(--clr-neon-off);
		text-shadow: 0 0 var(--clr-neon-off);
		border-color: var(--clr-neon-off);
		box-shadow:
    		inset 0 0 0 0 var(--clr-neon-off),
    		0 0 0 0 var(--clr-neon-off);
    	opacity: .4;
	}
	45% {
		/*allumé*/
		color: var(--clr-neon-bright);
		text-shadow: 0 0 1.5em var(--clr-neon-bright);
		border-color: var(--clr-neon-bright-tube);
		box-shadow:
			inset 0 0 2em .3em var(--clr-neon-bright),
			0 0 2em .3em var(--clr-neon-bright);
		opacity: .7;
	}
	46% {
		/*eteint*/
		color: var(--clr-neon-off);
		text-shadow: 0 0 var(--clr-neon-off);
		border-color: var(--clr-neon-off);
		box-shadow:
    		inset 0 0 0 0 var(--clr-neon-off),
    		0 0 0 0 var(--clr-neon-off);
    	opacity: .4;
	}
	100% {
		/*allumé*/
		color: var(--clr-neon-bright);
		text-shadow: 0 0 1.5em var(--clr-neon-bright);
		border-color: var(--clr-neon-bright-tube);
		box-shadow:
			inset 0 0 2em .3em var(--clr-neon-bright),
			0 0 2em .3em var(--clr-neon-bright);
		opacity: .8;
	}
}